thead.table-head {
    color: #46b8da;
    font-size: 21px;
    font-weight: bold;
}

th {
    padding: 24px;
    text-align: center !important;
}

td {
   text-align: center;
}

.input-fields {
    width: 24%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btnClass {
    position: relative;
    right: 30%;
    top: 29px;
}

button.btn.btn-primary {
    padding: 7px 18px;
    margin-right: 11px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-right: 18px;
}

.logout {
    float: right;
    margin: 15px !important;
}

.field {
    border: none;
   
    text-align: center;
}

input:focus{
    border: none !important;
}


.fade {
    opacity: 0.9 !important;
    -webkit-transition: none !important ;
    -o-transition: none !important;
    transition: none !important;
}


.modal-dialog {
    width: 600px !important;
    margin: 180px auto !important;
    /* padding: 0px 19px; */
}

.modal-content {
    padding: 30px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top: 51px;
}
span.Modal-btn {
    margin-right: 41%;
}

button.btn-modal {
    margin-right: 10px;
}
.pgntion_rt {
    text-align: center;
}